<!-- This template contains a very simple table pager -->
<!--*** Start of 'pre' ***-->
<center>
<table>
<tr><td>
<!--*** End of 'pre' ***-->

<!--*** Start of 'first' ***-->
<a href="<%handler%>">&lt;&lt;</a>
<!--*** End of 'first' ***-->

<!--*** Start of 'first selected' ***-->
<a href="<%handler%>">&lt;&lt;</a>
<!--*** End of 'first selected' ***-->

<!--*** Start of 'previous' ***-->
<a href="<%handler%>">&lt;</a>
<!--*** End of 'previous' ***-->
 
<!--*** Start of 'page' ***--> 
<a href="<%handler%>"><%firstItem%> - <%lastItem%></a>
<!--*** End of 'page' ***-->
 
<!--*** Start of 'page selected' ***--> 
<a href="<%handler%>"><font color="green"><%firstItem%> - <%lastItem%></font></a>
<!--*** End of 'page selected' ***-->
 
<!--*** Start of 'page separator' ***-->
|
<!--*** End of 'page separator' ***-->
 
<!--*** Start of 'etc...' ***-->
...
<!--*** End of 'etc...' ***-->
  
<!--*** Start of 'next' ***-->
<a href="<%handler%>">&gt;</a>
<!--*** End of 'next' ***-->

<!--*** Start of 'last' ***-->
<a href="<%handler%>">&gt;&gt;</a>
<!--*** End of 'last' ***-->

<!--*** Start of 'last selected' ***-->
<a href="<%handler%>">&gt;&gt;</a>
<!--*** End of 'last selected' ***-->

<!--*** Start of 'post' ***-->
</td></tr>
</table>
</center>
<!--*** End of 'post' ***-->