<!--*** Start of 'valid optional control' ***-->
<tr><td class="control-title"><%title%></td><td></td></tr>
<tr><td class="control-separator" colspan="2"><div style="font-size: 1px;">&nbsp;</div></tr>
<?text <tr><td class="control-description" colspan="2"><%text%></td></tr>?>
<tr><td class="control-prompt"><%prompt%></td><td class="control"><%control;optional%></td></tr>
<tr height="8"/>
<!--*** End of 'valid optional control' ***-->

<!--*** Start of 'invalid optional control' ***-->
<tr><td class="invalid-control-title"><%title%><sup><a class="error-number" href="#<%error-number;optional%>"><%error-number;optional%></a></sup></td><td></td></tr>
<tr><td class="control-separator" colspan="2"><div style="font-size: 1px;">&nbsp;</div></tr>
<?text <tr><td class="control-description" colspan="2"><%text%></td></tr>?>
<tr><td class="control-prompt"><%prompt%></td><td class="control"><%control;optional%></td></tr>
<tr height="8"/>
<!--*** End of 'invalid optional control' ***-->

<!--*** Start of 'optional control' ***-->
<tr><td class="control-title"><%title%></td><td></td></tr>
<tr><td class="control-separator" colspan="2"><div style="font-size: 1px;">&nbsp;</div></tr>
<?text <tr><td class="control-description" colspan="2"><%text%></td></tr>?>
<tr><td class="control-prompt"><%prompt%></td><td class="control"><%control;optional%></td></tr>
<tr height="8"/>
<!--*** End of 'option control' ***-->

<!--*** Start of 'valid required control' ***-->
<tr><td class="control-title"><small><sup>*</sup></small> <%title%></td><td></td></tr>
<tr><td class="control-separator" colspan="2"><div style="font-size: 1px;">&nbsp;</div></tr>
<?text <tr><td class="control-description" colspan="2"><%text%></td></tr>?>
<tr><td class="control-prompt"><%prompt%></td><td class="control"><%control;optional%></td></tr>
<tr height="8"/>
<!--*** End of 'valid required control' ***-->

<!--*** Start of 'invalid required control' ***-->
<tr><td class="invalid-control-title"><small><sup>*</sup></small> <%title%><sup><a class="error-number" href="#<%error-number;optional%>"><%error-number;optional%></a></sup></td><td></td></tr>
<tr><td class="control-separator" colspan="2"><div style="font-size: 1px;">&nbsp;</div></tr>
<?text <tr><td class="control-description" colspan="2"><%text%></td></tr>?>
<tr><td class="control-prompt"><%prompt%></td><td class="control"><%control;optional%></td></tr>
<tr height="8"/>
<!--*** End of 'invalid required control' ***-->

<!--*** Start of 'required control' ***-->
<tr><td class="control-title"><small><sup>*</sup></small> <%title%></td><td></td></tr>
<tr><td class="control-separator" colspan="2"><div style="font-size: 1px;">&nbsp;</div></tr>
<?text <tr><td class="control-description" colspan="2"><%text%></td></tr>?>
<tr><td class="control-prompt"><%prompt%></td><td class="control"><%control;optional%></td></tr>
<tr height="8"/>
<!--*** End of 'required control' ***-->