<!-- This template contains the login form -->

<!--*** Start of 'default form' ***-->
<form action="<%handler%>" method="<%method%>">
<table class="form-table">
<tr><td><%title%></td></tr>
<tr><td></td><td><%trigger:logout%></td></tr>
<table> 
</form> 
<!--*** End of 'default form' ***-->