<!-- This template contains a tree -->

<!-- First level (level 0) -->

<!--*** Start of 'header 0' ***-->
<table>
<!--*** End of 'header 0' ***-->

<!--*** Start of 'default 0' ***-->
<tr class="unselectedMenuItem0">
<td><a href="<%id%>"><img src="<%icon%>"/></a><br/><%title%></a></td><td><%description;optional%></td>
</tr>
<!--*** End of 'default 0' ***-->

<!--*** Start of 'active 0' ***--> 
<tr class="unselectedMenuItem0">
<td><a href="<%id%>"><img src="<%icon%>"/></a><br/><%title%></a></td><td><%description;optional%></td>
</tr>
<!--*** End of 'active 0' ***-->

<!--*** Start of 'open 0' ***-->
<tr bgcolor="yellow">
<td><%title%></td><td><%description;optional%></td>
</tr>
<!--*** End of 'open 0' ***-->

<!--*** Start of 'footer 0' ***-->
</table>
<!--*** End of 'footer 0' ***-->


<!-- Second level (level 1) -->

<!--*** Start of 'header 1' ***-->
<tr><td>
<table>
<!--*** End of 'header 1' ***-->

<!--*** Start of 'default 1' ***-->
<tr bgcolor="green">
<td><%title%></td><td><%description;optional%></td>
</tr>
<!--*** End of 'default 1' ***-->

<!--*** Start of 'active 1' ***-->
<tr bgcolor="brown">
<td><%title%></td><td><%description;optional%></td>
</tr>
<!--*** End of 'active 1' ***-->

<!--*** Start of 'footer 1' ***-->
</table>
</td>
</tr>
<!--*** End of 'footer 1' ***-->


<!-- Third level (level 2) -->

<!--*** Start of 'header 2' ***-->
<tr><td>
<table>
<!--*** End of 'header 2' ***-->

<!--*** Start of 'default 2' ***-->
<tr bgcolor="blue">
<td><%title%></td><td><%description;optional%></td>
</tr>
<!--*** End of 'default 2' ***-->

<!--*** Start of 'active 2' ***-->
<tr bgcolor="brown">
<td><%title%></td><td><%description;optional%></td>
</tr>
<!--*** End of 'active 2' ***-->

<!--*** Start of 'footer 2' ***-->
</table>
</td>
</tr>
<!--*** End of 'footer 2' ***-->

<!-- Fourth level (level 3) -->

<!--*** Start of 'header 3' ***-->
<tr><td>
<table>
<!--*** End of 'header 3' ***-->

<!--*** Start of 'default 3' ***-->
<tr bgcolor="gray">
<td><%title%></td><td><%description;optional%></td>
</tr>
<!--*** End of 'default 3' ***-->

<!--*** Start of 'active 3' ***-->
<tr bgcolor="brown">
<td><%title%></td><td><%description;optional%></td>
</tr>
<!--*** End of 'active 3' ***-->

<!--*** Start of 'footer 3' ***-->
</table>
</td>
</tr>
<!--*** End of 'footer 3' ***-->